:host {
  ::ng-deep .sidebar {
    background-color: #ffffff;
  }

  ::ng-deep .sidebar-nav {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px; // Aumentado para mayor espacio
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;

    .nav-item + .nav-item,
    .nav-item + .nav-group,
    .nav-group + .nav-item {
      margin-top: 15px; // Aumentado para mayor separación
    }

    .nav-title {
      padding: 10px 20px; // Aumentado para mejor espaciado
      margin-top: 15px; // Aumentado para mayor separación
      font-size: 1rem; // Ajustado para mejor legibilidad
      font-weight: 600; // Ligero ajuste para mejor contraste
      color: #0E2C46;
      text-transform: uppercase;
      transition: color 0.3s, background-color 0.3s;
    }

    .nav-link {
      display: flex;
      flex: 1;
      align-items: center;
      padding: 12px 20px; // Aumentado para mejor área de clic
      color: #0E2C46;
      text-decoration: none;
      white-space: nowrap;
      background: #F8F9FA;
      border: 1px solid #E9ECEF;
      border-radius: 6px; // Radio de borde ajustado para suavidad
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Añadido sombra ligera
      transition: color 0.3s, background-color 0.3s;

      &.active {
        color: #FFFFFF;
        background: #0E2C46;

        .nav-icon {
          color: #FFFFFF;
        }

        .nav-icon-bullet {
          background: #FF6634;
          border-color: #FFFFFF;
        }
      }

      &.disabled {
        color: #6C757D;
        pointer-events: none;
        cursor: not-allowed;
        background: transparent;

        .nav-icon {
          color: #6C757D;
        }

        .nav-icon-bullet {
          background: #E9ECEF;
          border-color: #CED4DA;
        }

        &:hover {
          color: #6C757D;

          .nav-icon {
            color: #6C757D;
          }

          .nav-icon-bullet {
            background: #E9ECEF;
            border-color: #CED4DA;
          }
        }
      }

      @media (hover: hover), (-ms-high-contrast: none) {
        &:hover {
          color: #FF6634;
          text-decoration: none;
          background: #E9ECEF;


          .nav-icon {
            color: #FF6634;
          }

          .nav-icon-bullet {
            background: #FF6634;
            border-color: #E9ECEF;
          }
        }
      }
    }

    .nav-icon {
      display: block;
      flex: 0 0 24px;
      align-items: center;
      justify-content: center;
      height: 40px; // Ajustado para mayor visibilidad
      margin-right: 40px; // Aumentado para separación
      font-size: 20px; // Ajustado para mejor visibilidad
      color: #FF6634;
      text-align: center;
      pointer-events: none;
      fill: currentcolor;
      transition: inherit;
    }
    
    .nav-icon-bullet {
      display: flex;
      width: 10px; // Ajustado para mejor visibilidad
      height: 10px; // Ajustado para mejor visibilidad
      background: #FF6634;
      border: 2px solid #0E2C46;
      border-radius: 50%;
    }

    svg.nav-icon {
      overflow: hidden;
    }

    .nav-group {
      position: relative;
      border: 1px solid #E9ECEF;
      border-radius: 5px; // Radio de borde ajustado para suavidad
      transition: all 0.3s;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); // Añadido sombra ligera

      .nav-group-items {
        padding: 0.5rem 0.5rem; // Aumentado para mejor espaciado
        overflow: hidden;
        transition: max-height 0.3s;
      }

      &:not(.show) .nav-group-items {
        display: none;
      }

      &.show {
        background: #F8F9FA;

        .nav-group-toggle {
          color: #FF6634;
        }

        > .nav-group-toggle::after {
          transform: rotate(180deg);
        }

        + .show {
          margin-top: 1px;
        }
      }
    }

    .nav-group-toggle {
      cursor: pointer;

      &::after {
        display: block;
        flex: 0 12px;
        height: 12px;
        margin-left: auto;
        content: "";
        background-color: #0E2C46;
        transition: all 0.3s;
      }
    }

    .nav-group-items {
      padding: 0;
      list-style: none;

      .nav-link {
        padding-left: calc(20px + 24px + 12px); // Ajustado para alineación con iconos
      }

      .nav-icon {
        margin-left: calc((24px + 12px) * -1);
      }
    }

    &.compact,
    .compact {
      .nav-link {
        padding: 10px 15px; // Ajustado para diseño compacto
      }
    }
  }

  ::ng-deep .custom-nav-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #FF6634;
  }
}
 .sidebar-narrow {
  width: 80px; /* Ajusta este valor según tus necesidades */
  padding: 10px;
  .sidebar-brand-full {
    display: none;
  }
 .sidebar-brand-narrow {
    display: block;
  }
  .c-sidebar-nav {
    .nav-link {
      text-align: center;
    }
  }
  .toggle-button {
    display: none;
  }
}
.wrapper {
  width: 100%;
  padding-left: 80px;
  padding-right: var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  transition: padding 0.15s;
  // Ajuste para pantallas pequeñas
  @media (max-width: 768px) { // Ajusta el valor según tus necesidades
    padding-left: 0px; // O el valor que prefieras para pantallas más pequeñas
  }
}

:host ::ng-deep c-header-nav,
:host ::ng-deep c-header-nav li,
:host ::ng-deep c-header-nav a {
  @media (max-width: 768px) {
    font-size: 0.92rem !important;
    margin-left: -3%;
    margin-bottom: 1%;
  }
}

:host {
  ::ng-deep .sidebar {
    background-color: #ffffff;

    &.narrow {
      width: 80px; /* Ajusta este valor según tus necesidades */
      .sidebar-brand-full {
        display: none;
      }
      .sidebar-brand-narrow {
        display: block;
      }
      .c-sidebar-nav {
        .nav-link {
          text-align: center;
        }
      }
    }

    &:hover {
      width: 300px; /* Ancho deseado cuando se expande */
      transition: width 0.3s;
      .sidebar-brand-full {
        display: block;
      }
      .sidebar-brand-narrow {
        display: none;
      }
      .c-sidebar-nav {
        .nav-link {
          text-align: left;
        }
      }
    }
  }
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.body {
  margin-top: -2%;
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center; // Evita centrar el contenido
  align-items: center;     // Evita centrar el contenido
}

.container {
  margin: 20px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: none;
}

/* WhatsApp Button Container */
.whatsapp-btn-container {
  position: fixed;
  bottom: 40px; /* Espaciado desde la parte inferior */
  right: 20px; /* Espaciado desde la parte derecha */
  z-index: 1000;
}

@media (max-width: 768px) {
  .whatsapp-btn {
    left: 75%; /* Mueve el contenedor al 75% de la pantalla */
    transform: translateX(-75%); 
  }
}

/* Responsivo: para pantallas muy pequeñas */
@media (max-width: 480px) {
  .whatsapp-btn {
    left: 75%; /* Mueve el contenedor al 75% de la pantalla */
    transform: translateX(-75%); 
  }
}

/* WhatsApp Button */
.whatsapp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

/* Icon inside the button */
.whatsapp-btn img {
  width: 100%;
  height: 100%;
}

/* Hover effects */
.whatsapp-btn:hover {
  transform: scale(1.2); /* Agrandar */
}

/* Tooltip */
.whatsapp-btn::after {
  content: attr(title); /* Usar el atributo title como texto del tooltip */
  position: absolute;
  bottom: 80px; /* Justo encima del botón */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostrar tooltip al hacer hover */
.whatsapp-btn:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}

